<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="stylesheet" href="/css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="css/styles.css" />
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Lobster|Open+Sans" />

    <title>Seattle Meows</title>
</head>

<body>

    <header>
        <!-- NAVIGATION MENU -->
        <nav class="navbar navbar-light navbar-expand-md">
            <div class="container">
                <div class="row">
                    <a href="#" class="navbar-brand">
                        <h1>Seattle Meows</h1>
                    </a>
                    <!-- <button class="navabar-toggler"></button> -->
                </div>


            </div>
        </nav>

        <div class="jumbotron jumbotron-fluid">
            <div class="row">
                <div class="col-4 col-sm-3 col-md-2 align-self-center">

                </div>
                <div class="col">
                    <h1>Seattle Meows</h1>
                    <p>The #1 site for cat lovers in the Puget Sound area</p>
                </div>
            </div>
        </div>
    </header>








    <footer>

    </footer>

    <!-- SCRIPTS -->
    <script src="/js/jquery.min.js"></script>
    <script src="/js/bootstrap.min.js"></script>
    <!-- <script src="/js/popper.min.js"></script> -->
    <script src="js/app.js"></script>
    

</body>

</html>