h1 {
    color: #54CCE7;
    font-family: "Sacramento", cursive;
}

.navbar {
    background-color: #F6F7F6;
}

.nav {
    color: #1A4661;
}

/* VIDEO STUFF */

.jumbotron {
    position: relative;
    background-color: black;
    height: 48vh;
    min-height: 22rem;
    width: 100%;
    overflow: hidden;
}

.jumbotron video {
    position: absolute;
    top: 50%;
    left: 50%;
    height: 30vh;
    min-height: 22rem;
    width: auto;
    z-index: 0;
    -ms-transform: translateX(-50%) translateY(-50%);
    -moz-transform: translateX(-50%) translateY(-50%);
    -webkit-transform: translateX(-50%) translateY(-50%);
    transform: translateX(-50%) translateY(-50%);
}

.jumbotron .container {
    position: relative;
    z-index: 2;
}

.jumbotron .overlay {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background-color: black;
    opacity: 0.4;
    z-index: 1;
}

/* FOOTER */

.site-footer {
    background-color: #F6F7F6;
    padding: 20px 0;
    border-top: 5px solid #1A4661;
}

.logo-bottom {
    margin-left: 0;
}