body {
    background-color: #F6F7F6;
}

a {
    color: #3D8DA9;
}

a:hover {
   color: #1A4661;
}

h1 {
    color: #3D8DA9;
    font-family: "Sacramento", cursive;
}

.modal-title {
    color: #3D8DA9;
    font-family: "Sacramento", cursive;
}



/* NAVIGATION  */


.navbar {
    background-color: #F6F7F6;
    -webkit-box-shadow: 0 8px 6px -6px #999;
    -moz-box-shadow: 0 8px 6px -6px #999;
    box-shadow: 0 8px 6px -6px #999;
    color: #1A4661;
}


.navbar-nav .nav-link.active {
    text-decoration-line: underline;
    text-decoration-color: #3D8DA9;
}
.navbar-light .navbar-nav .nav-link {
    color: #1A4661;
    
}

.navbar-light .navbar-nav .nav-link:hover {
    color: #3D8DA9;
}


/* BLOG POSTS HOME PAGE */

.btn-outline-color {
    color: #3D8DA9;
    border-color: #3D8DA9;
}



/* VIDEO STUFF */

.jumbotron {
    position: relative;
    background-color: #F6F7F6;
    height: 48vh;
    min-height: 22rem;
    width: 100%;
    overflow: hidden;
    margin: 0;
}

.jumbotron video {
    position: absolute;
    top: 50%;
    margin-left: 50%;
    height: 30vh;
    min-height: 22rem;
    width: auto;
    z-index: 0;
    /* -ms-transform: translateX(-50%) translateY(-50%); */
    /* -moz-transform: translateX(-50%) translateY(-50%); */
    /* -webkit-transform: translateX(-50%) translateY(-50%); */
    transform: translateX(-50%) translateY(-50%);
}

.jumbotron .container {
    position: relative;
    z-index: 2;
}

.jumbotron .overlay {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    opacity: 0.4;
    z-index: 1;
}

/* FOOTER */

.site-footer {
    background-color: #F6F7F6;
    padding: 20px 0;
    border-top: 5px solid #1A4661;
}

.logo-bottom {
    margin-left: 0;
}